## Classification based Collborative Filtering System

https://archive.ics.uci.edu/dataset/222/bank+marketing

### Logistic Regression Recommender

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder

In [59]:
bank_full = pd.read_csv("data/bank-full.csv")
bank_full.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [60]:
encoder = OneHotEncoder(sparse_output=False)
categorical_columns=['job','marital','education','contact','default','poutcome']
one_hot_encoded = encoder.fit_transform(bank_full[categorical_columns])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))
one_hot_df

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,education_unknown,contact_cellular,contact_telephone,contact_unknown,default_no,default_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
45207,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
45208,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
45209,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
45210,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [61]:
one_hot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_admin.           45211 non-null  float64
 1   job_blue-collar      45211 non-null  float64
 2   job_entrepreneur     45211 non-null  float64
 3   job_housemaid        45211 non-null  float64
 4   job_management       45211 non-null  float64
 5   job_retired          45211 non-null  float64
 6   job_self-employed    45211 non-null  float64
 7   job_services         45211 non-null  float64
 8   job_student          45211 non-null  float64
 9   job_technician       45211 non-null  float64
 10  job_unemployed       45211 non-null  float64
 11  job_unknown          45211 non-null  float64
 12  marital_divorced     45211 non-null  float64
 13  marital_married      45211 non-null  float64
 14  marital_single       45211 non-null  float64
 15  education_primary    45211 non-null  float64
 16  education_secondary  45211 non-null  float64
 17  education_tertiary   45211 non-null  float64
 18  education_unknown    45211 non-null  float64
 19  contact_cellular     45211 non-null  float64
 20  contact_telephone    45211 non-null  float64
 21  contact_unknown      45211 non-null  float64
 22  default_no           45211 non-null  float64
 23  default_yes          45211 non-null  float64
 24  poutcome_failure     45211 non-null  float64
 25  poutcome_other       45211 non-null  float64
 26  poutcome_success     45211 non-null  float64
 27  poutcome_unknown     45211 non-null  float64
dtypes: float64(28)
memory usage: 9.7 MB

In [63]:
bank_full_data = pd.concat([bank_full, one_hot_df], axis=1)

In [62]:
bank_full['y_binary'] = bank_full['y'].map({'yes': 1, 'no': 0})
bank_full['default'] = bank_full['default'].map({'yes': 1, 'no': 0})
bank_full['housing'] = bank_full['housing'].map({'yes': 1, 'no': 0})
bank_full['loan'] = bank_full['loan'].map({'yes': 1, 'no': 0})
bank_full.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,y_binary
0,58,management,married,tertiary,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,no,0
1,44,technician,single,secondary,0,29,1,0,unknown,5,may,151,1,-1,0,unknown,no,0
2,33,entrepreneur,married,secondary,0,2,1,1,unknown,5,may,76,1,-1,0,unknown,no,0
3,47,blue-collar,married,unknown,0,1506,1,0,unknown,5,may,92,1,-1,0,unknown,no,0
4,33,unknown,single,unknown,0,1,0,0,unknown,5,may,198,1,-1,0,unknown,no,0

In [64]:
bank_full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   job                  45211 non-null  object
 2   marital              45211 non-null  object
 3   education            45211 non-null  object
 4   default              45211 non-null  int64
 5   balance              45211 non-null  int64
 6   housing              45211 non-null  int64
 7   loan                 45211 non-null  int64
 8   contact              45211 non-null  object
 9   day                  45211 non-null  int64
 10  month                45211 non-null  object
 11  duration             45211 non-null  int64
 12  campaign             45211 non-null  int64
 13  pdays                45211 non-null  int64
 14  previous             45211 non-null  int64
 15  poutcome             45211 non-null  object
 16  y                    45211 non-null  object
 17  y_binary             45211 non-null  int64
 18  job_admin.           45211 non-null  float64
 19  job_blue-collar      45211 non-null  float64
 20  job_entrepreneur     45211 non-null  float64
 21  job_housemaid        45211 non-null  float64
 22  job_management       45211 non-null  float64
 23  job_retired          45211 non-null  float64
 24  job_self-employed    45211 non-null  float64
 25  job_services         45211 non-null  float64
 26  job_student          45211 non-null  float64
 27  job_technician       45211 non-null  float64
 28  job_unemployed       45211 non-null  float64
 29  job_unknown          45211 non-null  float64
 30  marital_divorced     45211 non-null  float64
 31  marital_married      45211 non-null  float64
 32  marital_single       45211 non-null  float64
 33  education_primary    45211 non-null  float64
 34  education_secondary  45211 non-null  float64
 35  education_tertiary   45211 non-null  float64
 36  education_unknown    45211 non-null  float64
 37  contact_cellular     45211 non-null  float64
 38  contact_telephone    45211 non-null  float64
 39  contact_unknown      45211 non-null  float64
 40  default_no           45211 non-null  float64
 41  default_yes          45211 non-null  float64
 42  poutcome_failure     45211 non-null  float64
 43  poutcome_other       45211 non-null  float64
 44  poutcome_success     45211 non-null  float64
 45  poutcome_unknown     45211 non-null  float64
dtypes: float64(28), int64(11), object(7)
memory usage: 15.9+ MB

In [65]:
column_names= bank_full_data.columns[18:46].append(bank_full_data[['loan','default','housing']].columns)
column_names

Index(['job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'contact_cellular', 'contact_telephone',
       'contact_unknown', 'default_no', 'default_yes', 'poutcome_failure',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown', 'loan',
       'default', 'housing'],
      dtype='object')

In [66]:
X = bank_full_data.loc[:,column_names] 
X.columns

Index(['job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'contact_cellular', 'contact_telephone',
       'contact_unknown', 'default_no', 'default_yes', 'poutcome_failure',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown', 'loan',
       'default', 'housing'],
      dtype='object')

In [69]:
X.columns.size

31

In [67]:
y = bank_full_data.iloc[:,17]
y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y_binary, Length: 45211, dtype: int64

In [68]:
LogReg = LogisticRegression()
LogReg.fit(X.values,y.values)

LogisticRegression()

In [70]:
new_user = [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
            1, 0, 1,
            0, 1, 0, 0,
            1 ,0 ,0,
            0, 1,
            1, 0, 0 ,0,
            1 , 0 ,1 ]
new_user_reshaped = np.array(new_user).reshape(1,-1)
y_pred = LogReg.predict(new_user_reshaped)
y_pred

array([0], dtype=int64)

In [83]:
y.tail(20)

45191    1
45192    1
45193    1
45194    0
45195    1
45196    1
45197    1
45198    0
45199    0
45200    1
45201    1
45202    1
45203    1
45204    1
45205    1
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y_binary, dtype: int64

In [86]:
y_pred = LogReg.predict(X.values[45192].reshape(1,-1))
print(y_pred)
print(y[45192])

[0]
1

In [89]:
from sklearn.metrics import accuracy_score
y_pred = LogReg.predict(X.values)
score =accuracy_score(y,y_pred)
score

0.8927694587600363

## Model-based Collborative Filtering System

https://grouplens.org/datasets/movielens/100k/

### Singular Value Decomposition Recommender

In [2]:
import sklearn
from sklearn.decomposition import TruncatedSVD

In [19]:
columns = ['user_id','item_id','rating','timestamp']
frame = pd.read_csv('data/u.data',sep='\t', names=columns)
frame.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [20]:
movies_columns = ['item_id','movie_title','release date','video release date','IMDb URL',
                  'unknown','Action','Adventure','Animation','Childrens','Comedy','Crime',
                  'Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery',
                  'Romance','Sci-Fi','Thriller','War','Western']
movies = pd.read_csv('data/u.item',sep='|', names=movies_columns, encoding='latin-1')
movie_names = movies.loc[:,['movie_title','item_id']]
movie_names.head()

         movie_title  item_id
0   Toy Story (1995)        1
1   GoldenEye (1995)        2
2  Four Rooms (1995)        3
3  Get Shorty (1995)        4
4     Copycat (1995)        5

In [21]:
combined_movies_data = pd.merge(frame,movie_names,on='item_id')
combined_movies_data.head()

   user_id  item_id  rating  timestamp                 movie_title
0      196      242       3  881250949                Kolya (1996)
1      186      302       3  891717742    L.A. Confidential (1997)
2       22      377       1  878887116         Heavyweights (1994)
3      244       51       2  880606923  Legends of the Fall (1994)
4      166      346       1  886397596         Jackie Brown (1997)

In [22]:
combined_movies_data.groupby('item_id')['rating'].count().sort_values(ascending=False).head()

item_id
50     583
258    509
100    508
181    507
294    485
Name: rating, dtype: int64

In [30]:
popular_rated = combined_movies_data['item_id']==50
combined_movies_data[popular_rated]['movie_title'].unique()

array(['Star Wars (1977)'], dtype=object)

#### Building Utility Matrix

In [31]:
rating_crosstab = combined_movies_data.pivot_table(values ='rating', index='user_id',columns='movie_title', fill_value=0)
rating_crosstab.head()

movie_title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0

In [35]:
combined_movies_data[(combined_movies_data['user_id']==1) & (combined_movies_data['movie_title']=='Young Frankenstein (1974)')]

       user_id  item_id  rating  timestamp                movie_title
10508        1      208       5  878542960  Young Frankenstein (1974)

#### Transposing the Matrix

In [36]:
rating_crosstab.shape

(943, 1664)

In [37]:
X = rating_crosstab.values.T
X.shape

(1664, 943)

#### Decomposing the Matrix

In [38]:
SVD = TruncatedSVD(n_components=12, random_state=17) #Dimensionality reduction using truncated SVD
resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

(1664, 12)

#### Generating a Correlation Matrix

In [40]:
corr_mat = np.corrcoef(resultant_matrix) #generate correlation matrix
corr_mat.shape

(1664, 1664)

#### Isolate Star Wars From the Correlation Matrix

In [43]:
movie_names = rating_crosstab.columns
movie_list = list(movie_names)
star_wars_index= movie_list.index('Star Wars (1977)')

In [47]:
corr_star = corr_mat[star_wars_index]
corr_star

array([ 0.30434106,  0.24720193,  0.67148368, ...,  0.4547386 ,
        0.54823372, -0.01373867])

In [49]:
movie_names[(corr_star<1.0) & (corr_star>0.9)]

Index(['Empire Strikes Back, The (1980)', 'Men in Black (1997)',
       'Raiders of the Lost Ark (1981)', 'Return of the Jedi (1983)',
       'Star Trek: First Contact (1996)', 'Toy Story (1995)'],
      dtype='object', name='movie_title')

## Content-based Collborative Filtering System

### Nearest Neighbor Recommender

In [50]:
from sklearn.neighbors import NearestNeighbors

In [62]:
cars = pd.read_csv('data/mtcars.csv')
cars.head(22)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2

In [57]:
X = cars.iloc[:,[1,3,4,6]].values
X

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ],
       [ 18.1  , 225.   , 105.   ,   3.46 ],
       [ 14.3  , 360.   , 245.   ,   3.57 ],
       [ 24.4  , 146.7  ,  62.   ,   3.19 ],
       [ 22.8  , 140.8  ,  95.   ,   3.15 ],
       [ 19.2  , 167.6  , 123.   ,   3.44 ],
       [ 17.8  , 167.6  , 123.   ,   3.44 ],
       [ 16.4  , 275.8  , 180.   ,   4.07 ],
       [ 17.3  , 275.8  , 180.   ,   3.73 ],
       [ 15.2  , 275.8  , 180.   ,   3.78 ],
       [ 10.4  , 472.   , 205.   ,   5.25 ],
       [ 10.4  , 460.   , 215.   ,   5.424],
       [ 14.7  , 440.   , 230.   ,   5.345],
       [ 32.4  ,  78.7  ,  66.   ,   2.2  ],
       [ 30.4  ,  75.7  ,  52.   ,   1.615],
       [ 33.9  ,  71.1  ,  65.   ,   1.835],
       [ 21.5  , 120.1  ,  97.   ,   2.465],
       [ 15.5  , 318.   , 150.   ,   3.52 ],
       [ 15.2  , 304.   , 150.   ,   3.435],
       [ 13.3  , 350.   , 245.   ,   3.84 ],
       [ 19.2  , 400.   , 175.   ,   3.845],
       [ 27.3  ,  79.   ,  66.   ,   1.935],
       [ 26.   , 120.3  ,  91.   ,   2.14 ],
       [ 30.4  ,  95.1  , 113.   ,   1.513],
       [ 15.8  , 351.   , 264.   ,   3.17 ],
       [ 19.7  , 145.   , 175.   ,   2.77 ],
       [ 15.   , 301.   , 335.   ,   3.57 ],
       [ 21.4  , 121.   , 109.   ,   2.78 ]])

In [59]:
model = NearestNeighbors(n_neighbors=1).fit(X)

In [61]:
model.kneighbors([[15,300,160,3.2]])

(array([[10.77474942]]), array([[22]], dtype=int64))